language: node_js
node_js:
- '0.11'
- '0.10'
env:
  global:
  - GH_REF: github.com/garbados/mnist.git
  - secure: xobnO29UiJUW+VPR+qs42NK+3J03/IDlMuaAC6MN8Ha+PRq7dCPeYYlfjbKOTBDD8lYIGKEDLETZurtq14NWu52UHk6+/QkNBMOOAYNWBAJhW0QkeVzUcyoxZXxaPucFEXIXIjycabp6eips2Yw+uwWIfD4Xz6qZJTKDnjRNcMdnduY54OeNfjWnRlkX3pDDX5+386oQECVnxqYDfpALrBRprvIvDWXoKGHc/yZh2ZI2IzyExvyTusGGF/RZ/NoQ0EELiCG6TpPB1p/BIa7BmM20PXSS6Pu70kna5UK/Pt35MCBuTdMdewB179d/7tuQ0k+/ztL+YDQTLS43b4Mr7D+ErEgMnRfL+FuqZvTJq4qc6w9k1HMQNT57jsrcrOEkBjh4ofZRq5TjuRSwZhA/0pUF6SFQPni/P1tMqQEe358Qz2tKTlpu26u7jbTd1QXTH7AZfAB+I+cGWL+qt8Eg0sCEYDCN43aZm4+RySqdq16C77x3/Ao2zUgcDte8TmYGJV/686a59lwzZdXffnSwRKFTR5/mT2/1u3dTi5GJrGMxM/GVBPhOj3hGkagCmJ1aVRN8X1vcaRw9MQpV4qTi9sLgVtmfa5vB8STAhQyMwVzwYqU1JutPVoF+ZIvWXY2LJvFfl2nmXpar4bCP9TMu9niiie6sLwL6Sa4uvGa5gDQ=
after_success:
- npm run coveralls
- npm run deploy
